@model BookProject.Models.Comment

@{
    ViewData["Title"] = "Yorum Detay";
}

<h1>Yorum Detay</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookUser.Email)
        </dd>
        <dt class = "col-sm-2">
            Kitap
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
