@model BookProject.Models.Slider

@{
    ViewData["Title"] = "Slider Detay";
}

<h1>Slider Detay (@Html.DisplayFor(model => model.Title))</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img class="img-fluid" src="~/Image/Slider/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.Title)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
