@model BookProject.Models.Product

@{
    ViewData["Title"] = "Kitap Sil";
}

<h1>Kitap Sil</h1>

<h3><i>"@Html.DisplayFor(model => model.Title)"</i> adlı kitabı silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt class="col-sm-2">
            Kategori
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Yazar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Fullname)
        </dd>
        <dt class="col-sm-2">
            Yayıncı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img class="img-fluid" src="~/Image/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.Title)" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>
